.gap {
    height: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

main h2, main p {
    color: #44CF6C;
}

main h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
}

main p {
    font-family: 'Gruppo', cursive;
    font-size: 18px;
}



main .wrapper {
    margin: auto auto;
}

/* tablet */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .gap {
        height: 3em;
    }

    main {
        padding: 5em;
    }
    main h2 {
        font-size: 36px;
    }
    
    main p {
        font-size: 22px;
    }
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
    main {
        padding: 6em;
        flex-direction: row;
    }

    main .wrapper {
        margin: 0;
    }
    main h2 {
        font-size: 55px;
    }
    
    main p {
        font-size: 26px;
    }
    section {
        margin-left: 4em;
    }
}