/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-img {
    width: 100vw;
    overflow: none;
}

h2 {
    font-family: 'Bebas Neue', cursive;
}
p {
    font-family: 'Gruppo', cursive;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
/* font-family: 'Bebas Neue', cursive; */

header, footer {
    background-color: #FAFAFF;
}

body {
    background-color: #30343F;
}

/* navigation */

header h1 {
    font-size: 26px;
    font-family: 'Press Start 2P' , cursive;
}
header h2{
    font-size: 27px;
    color: #2C6E49;
}

header a {
    font-family: 'Bebas Neue', cursive;
    color: #2C6E49!important;
    text-decoration: none;
    font-size: 20pt;
}


.abtn {
    font-size: 27pt;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.nav-item {
    height: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("images/icons/play-s.svg");
  }
.navbar .navbar-toggler[aria-expanded="true"] {
    color: #44CF6C!important;
    }
.navbar .navbar-toggler:focus{
color: #30343F;
}

header div li div picture {
    margin: auto 0 auto 0;
}

.hide {
    opacity: 0;
}

.active {
    color: #44CF6C!important;
}

.nav-link {
    transition: 0.7s ease;
}
.nav-link:hover {
    color: #30343F;
}

/* footer */
footer {
    display: flex;
    text-align: right;
    justify-content: space-evenly;
    flex-direction: column;
    line-height: 1;
    color: #30343F;
}

a {
    color: #2C6E49;
}

footer p {
    font-size: 16px;
}

.socials {
    display: flex;
    padding: 1em;
}
.icon {
    margin: 10px;
}

.addressWrapper {
    margin: 18px;
}

address, .phone {
    line-height: 0.5;
}

.phone {
    padding-top: 2em;

}
.cp {
    padding-top: 2em;
    margin: 18px;
}

/* tablet */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* header */

    header h1 {
        font-size: 48px;
    }

    .abtn, header h2 {
        font-size: 50px;
    }

    .nav-item {
        margin: 1em;
    }
    
    
    /* footer */
    
    footer {
        text-align: right;
        flex-direction: row;
        line-height: 1;
        min-height: 370px;
    }

    p {
        font-size: 20;
    }

    .socials{
        padding: 1em;
    }
    
    .icon {
        margin: 15px;
    }

    .addressWrapper {
        padding-top: 1em;
        flex-direction: column;
    }


    
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
    
    /* header */
    
    /* header {
        justify-content: ;
    } */

    .container {
        margin-left: 0;
        justify-content: space-between
    }

    #navbarSupportedContent{
        margin: auto auto auto 5em;
    }

    header h1 {
        font-size: 56px;
        text-align: left;
    }

    .abtn, header h2 {
        font-size: 60px;
    }

    .nav-item {
        margin: 4em auto 4em auto;
    }

    /* footer */
    
    footer {
        text-align: right;
        flex-direction: row;
        line-height: 1;
        min-height: 370px;
        justify-content: space-between;
    }

    p {
        font-size: 22;
    }

    .socials{
        padding: 1em;
    }
    
    .icon {
        margin: 15px;
    }

    .addressWrapper {
        padding-top: 1em;
        flex-direction: column;
    }

}


